---
layout: archive
---

{{ content }}

{% assign CategoriesArray = "" | split:"|" %}

{% for post in site.portfolio %}
  {% for category in post.category %}
    {% assign CategoriesArray = CategoriesArray | push: category | uniq | sort %}
  {% endfor %}
{% endfor %}

<ul class="taxonomy__index">
  {% for category in CategoriesArray %}
    <li>
      <a href="#{{ category | slugify }}">
        <strong>{{ category }}</strong> <span class="taxonomy__count">{{ i }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% for category in CategoriesArray %}
  <section id="{{ category | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% assign PostArray = site.portfolio | where: "category", category %}
      {% for post in PostArray %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
